//- CARD INFO
block content
    .dice-container
        button#roll-button(type='button' disabled)
            img(src='/../images/1eye.png' id="dice1")
            img(src='/../images/1eye.png' id="dice2")
    script(src="/../../src/dice.js")