//- PLAYER INFO
block content
  if user
  .player-info
    p.player-id #[strong Player ID: ] #{user.id}
    p.player-name #[strong Player 1] #{user.name}
    p.player-money #[strong Money]: #{user.money}
  template
    .space.property
      .container
        .color-bar.light-blue
          p.propetry-name
          img(src='../images/new-window.png').property-icon