block content
    .popup
        .popup-header
            h2.popup-title 
        .popup-description
            p.price
            h3 House Prices
            ul
                li.one-house x DKK for 1 house
                li.two-house x DKK for 2 houses
                li.three-house x DKK for 3 houses
                li.four-house x DKK for 4 houses
            .popup-rent
                p Rent: x DKK
                p Houses: x
        .popup-railroad-description 
            p.price 
            h3 Rent
            ul
                p.railroad-rent x DKK
        .owner
        button.buy-button Buy
        button.upgrade-button Upgrade
        button.sell-button Sell
        button.closePopup ×

        
