<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/styles/chat.css">

    </head>
    <body>
        <h1>chat</h1>
        <div class="chatbox">
            
            <div class="conversation" id="conversation">
            </div>
            <div class="inputbox">
                <input type="text" id="inputtxtID" class="inputtxt" placeholder="type here">
                <button onclick="sendMessage()" class="inputbutton" id="inputbutton">Send</button>
            </div>
        </div>
        <button onclick="receiveMessage()" class="inputbutton">fake</button>

        
        
        <script src="../public/src/chat.js"></script>
    </body>
</html>