<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/styles/chat.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

    </head>
    <body>
        <h1>chat</h1>
        <div class="chatbox">
            
            <div class="conversation" id="conversation">
            </div>
            <div class="inputbox">
                <input type="text" id="inputtxtID" class="inputtxt" placeholder="type here">
                <button onclick="sendMessage()" class="inputbutton" id="inputbutton">Send msg</button>
            </div>
        </div>
        <button onclick='receiveMessage("Pengu","Hello Dude")'>Pengu</button>
        <button onclick='receiveMessage("hat","Hello Dude")'>hat</button>
        <button onclick='receiveMessage("Trille","Hello Dude")'>Trille</button>

        
        
        <script src="../public/src/chat.js"></script>
    </body>
</html>