extends layout 

block content
    h1 YLOPONOM
    form(action='login.php' method='post')
    .lobby_input
        .lobby_username
            label(for='lobby_username') Username:
            input#username(type='text' name='username')
        .lobby_submit
            button#submit(type='button') Select name
        .lobby_startgame
            button#start(type='button' disabled) Start
    .players
        p1
        | Players:
        a#playerCount  0/4
    .lobby_playerList
    
    script(src="/../src/lobby.js")