<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Propterty Card</title>
    <link rel="stylesheet" href="../public/styles/propertyStyles.css">
</head>
<body>
<div class="property-card">
    <div class="title">
        <h2>Ringkøbing</h2>
    </div>
    <div class="icon">
        <img src="../public/images/ringkøbing.jpeg" alt="Property icon">
    </div>
    <div class="details">
        <div class="rent">
            <h3>Rent</h3>
            <p>150DK</p>
        </div>
        <div class="extra-prices">
            <h3>House Prices</h3>
            <ul>
                <li>500DK for 1 house</li>
                <li>1000DK for 2 houses</li>
                <li>1500DK for 3 houses</li>
                <li>2000DK for 4 houses</li>
            </ul>
        </div>
        <div class="mortgage">
            <h3>Mortgage Value</h3>
            <p>375DK</p>
        </div>
    </div>
</div>

</body>
</html>