doctype html
head
    meta(charset='UTF-8')
    title Propterty Card
    link(rel='stylesheet' href='../styles/propertyStyles.css')
.property-card
    .title
        h2 Ringk&oslash;bing
    .icon
        img(src='../images/ringkøbing.jpeg' alt='Property icon')
    .details
        .rent
            h3 Rent
            p 150DK
        .extra-prices
            h3 House Prices
            ul
                li 500DK for 1 house
                li 1000DK for 2 houses
                li 1500DK for 3 houses
                li 2000DK for 4 houses
        .mortgage
            h3 Mortgage Value
            p 375DK