.player-info {
    height: 20px;
    width: 200px;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 51px;
    border-radius: 5px;
}

.player-info .space {
    background-color: transparent;
}

.player-info .container {
    margin-top: 10px;
    height: 20px;
    width: 100%;
}

.player-info .color-bar {
    border: 1px solid black;
}

.player-info .name {
    padding-bottom: 5px !important;
}

.player-info .property-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
